body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: #ffe6f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

.hidden {
  display: none;
}

.main-photo {
  width: 300px;
  max-width: 80%;
  border-radius: 20px;
  margin-bottom: 20px;
}

h1 {
  color: #d63384;
  margin-bottom: 20px;
}

.buttons {
  position: relative;
  height: 200px;
  margin-top: 20px;
}

.final-text {
  margin-top: 15px;
  font-size: 20px;
  color: #6c757d;
  font-style: italic;
}
