body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: #ffe6f0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.main-photo {
  width: 300px;
  max-width: 80%;
  border-radius: 20px;
  margin-bottom: 20px;
}

h1 {
  color: #d63384;
  margin-bottom: 20px;
}

.buttons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
  height: 300px;
}


#yesBtn {
  position: relative;
  z-index: 2;
}

#noBtn {
  position: absolute;
  background-color: #adb5bd;
  color: white;
  transition: transform 0.15s ease;
}


.final-text {
  margin-top: 15px;
  font-size: 20px;
  color: #6c757d;
}

button {
  padding: 18px 36px;
  font-size: 22px;
  border: none;
  border-radius: 14px;
  cursor: pointer;
}

#yesBtn {
  background-color: #ff4d6d;
  color: white;
}

#noBtn {
  background-color: #adb5bd;
  color: white;
}
